* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    /* font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: #333;
}

nav>div {
    padding: 20px;
}

.logo {
    height: 100%;
    background-color: #04AA6D;
    float: left;
}

.menu-list {
    height: 100%;
    float: right;
    padding: 20px;
}

.menu-list a {
    margin-right: 10px;
}

.hidden.bars {
    float: right;
    display: none;
}

.hidden.bars:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        height: 5vh;
        background-color: #333;
    }
    .hidden.bars {
        display: inline-block;
        width: 10%;
    }
    .menu-list {
        display: none;
    }
    .logo-wd-f {
        width: 85%;
    }
    .responsive {
        position: absolute;
        top: 10%;
        background-color: #333;
        width: 100%;
    }
    .responsive a {
        display: block;
        text-align: center;
        color: white;
        padding-top: 10px;
        border-bottom: 1px solid white;
    }
    .responsive a:hover {
        background-color: #04AA6D;
    }
}
